.end{
    width: 100%;
    background-color:#000000;
    background-size: 100%;
    padding: 30px;
    
}
.end-buttons{
    display: flex;
    color: orangered;
    justify-content: center;

}
.social{
    display: flex;
    justify-content: space-between;
   margin-right:
}
.end-button{
    margin-right: 20px;
    width: 20px;
}
.end-description-text{
    margin-top: 18px ;
    font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;

}