
.menu{
   position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    z-index: 10;
    margin-bottom: 60px;
}
.menu-navigation{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky
}


.menu-navigation-logo{
    
    font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;


}
.menu-navigation-logo::after{
    content: "it";
    color: palevioletred;
    font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

}
.menu-navigation-list{
    font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: right;
display: flex;
flex-direction: row;
text-decoration: none;

}
.a-menu-list{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.a-menu-list:hover{
    border: 3px solid  rgb(59, 125, 168);
    border: 0px;
    border-bottom: 3px solid rgb(59, 125, 168) ;
    border-radius: 1%;
    padding: 20px;
    
}
.menu-navigation-list-feautures{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.menu-navigation-list-about{
    margin-left: 48px;
    color: rgba(255, 255, 255, 0.7);
}
.menu-navigation-list-pricing{
    margin-left: 48px;
    color: rgba(255, 255, 255, 0.7);
}
.menu-navigation-list-reviews{
    margin-left: 48px;
    color: rgba(255, 255, 255, 0.7);
}
.menu-navigation-list-contact{
    margin-left: 48px;
    color: rgba(255, 255, 255, 0.7);
}