.pricing{
    background-color: #e5e5e5;
    padding-top: 80px;
    padding-bottom: 78px;
}
.pricing-title{
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    

}
.pricing-title:after{
    content: "";
    width: 64px;
    border-bottom: 2px solid #E72424;
    margin: auto;
    margin-top: 34px;
}

.pricing-description_text{
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
    text-align: center;
    margin-top: 34px;
    font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;



}
.pricing-table_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    margin: 0 -15px;
    
}
.pricing-table{
    margin-top: 77px;
    
    
    
}

.pricing-table-list-name{
    
    
    background-color: #333333;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 8px;
   font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: center;

}

.pricing-table-list-name-text{
    
   margin: auto; 
   width: 54px;
   font-weight: 700;
   color: #ffffff;
   margin-top: px;
   background-color:  #333333;
}
.pricing-table-list-name:hover{
    cursor: pointer;
}
.pricing-table-list-price{
    
   
    background-color: #333333;
    margin-top: 1px;
    text-align: center; 
    padding-top: 26px;
   padding-bottom: 33px; 
   font-family: Raleway;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 41px;
letter-spacing: 0em;
text-align: center;

}
.pricing-table-list-price-text{
    
    margin: auto;
    width: 61px;
    font-weight: 400;
    color: #ffffff;
    background-color:  #333333;
}
.pricing-table-list-life{
    
    
    background-color: #333333;
    margin-top: 1px;
    text-align: center; 
    padding-top: 17px;
   padding-bottom: 14px; 
   font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}

.pricing-table-list-life-text{
    
    margin: auto;
    width: 78px;
    font-weight: 200;
    color: #ffffff ;
    background-color:  #333333;
}
.pricing-table-list-space{
    
    
    background-color: #333333;
    margin-top: 4px;
    text-align: center;
    background-color: #ffffff;
    padding-top: 10px;
   padding-bottom: 11px;
   font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

    
}
.pricing-table-list-space-text{
    
    margin: auto;
    width: 78px;
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    background-color:#ffffff;
}
.pricing-table-item{
    width: 340px;
    /*margin-right: 78px;*/
    margin: 0 15px;
    
}
