@import url("../css/awesome.css");
@import url('../css/pricing.css');
@import url("../css/axure.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #e5e5e5;*/
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 ;
}
.title{
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}
li{
    list-style-type: none; /* Убираем маркеры */
        
}
